.button {
    text-align: center;
}

.background-image {
    --background: url("jys1.jpg") 0 0/100% 100% no-repeat;
}

h1 {
    
    text-align: center;
    
   
    color: #7044ff;
}

ion-card {
    color: white;
    background-color: transparent;
}

p {
    font-family: Courier, monospace;
}
ion-title{
    text-align: center;
}