<ion-header>
    <ion-toolbar color="tertiary">
        <ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
        <ion-title>SHOES QUIZ</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">
    
    <br>
        <br>
    <h1>
        
        <font size="6">THE SHOES QUIZ. KNOW YOUR STYLE</font>
       
    </h1>
    
    <div class="button">
        <ion-button color="tertiary" [routerLink]="['/musicq']">BEGIN QUIZ</ion-button>
    </div>
</ion-content>