.button {
    text-align: center;
}

ion-title {
    text-align: center;
}

.background-image {
    --background: url("jys1.jpg") 0 0/100% 100% no-repeat;
}

// .background-image {
//     --background: url("images.jpg") 0 0/100% 100% no-repeat;
// }
ion-card {
    color: white;
}