.button {
    text-align: center;
    color: black;
}

ion-title {
    text-align: center;
}

.background-image {
    --background: url("mb.jpg") 0 0/100% 100% no-repeat;
    height: 700px;
}


ion-card {
    color: greenyellow;
}