.button {
    text-align: center;
}

.background-image {
    --background: url("ball.jpg") 0 0/100% 100% no-repeat;
}

ion-title {
    text-align: center;
}

h1 {
    
    text-align: center;
    
    color: white;
}

ion-card {
    background-color: transparent;
}

p {
    font-family: Courier, monospace;
    color: black;
    background-color: white;
}