<ion-header>
    <ion-toolbar color="warning">
        <ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
        <ion-title>CARS QUIZ</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">
    <h1>
        <br>
        <br>
        <font size="6">LEARN THE SPEED, KNOW THE COMFORT</font>
       
    </h1>
    
    <br><br>
    <div class="button">
        
        <ion-button color="warning" [routerLink]="['/sportq']">BEGIN QUIZ</ion-button>
    </div>
    
</ion-content>