<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>
            My Quiz App!!!!!
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">

<br>

    
        <div class="button">
        <ion-button size="large" color="secondary" [routerLink]="['/foodc']">SOCCER</ion-button>
        <ion-button size="large" color="secondary" [routerLink]="['/musicc']">SHOES</ion-button>
        <ion-button size="large" color="secondary" [routerLink]="['/sportc']">CARS</ion-button>
   
    </div>

</ion-content>